#related_photo
  = image_tag(resource.photo_url(:thumbnail))
  = form_for resource, :url => resource_path, :html => {:method => :put}, :remote => true do |form|
    = render 'form', :form => form
    = submit_tag t(:'.submit'), :name => nil
    = link_to t(:'.remove'), resource_path, :method => :delete, :remote => true
