%p
  = form.label :title, t(:'.title')
  = form.text_field :title
%p
  = form.label :body, t(:'.body')
  = form.text_area :body
%p
  = form.label :excerpt, t(:'.excerpt')
  = form.text_area :excerpt
%p
  = form.label :tags, t(:'.tags')
  = form.text_field :tags
%p
  = form.label :status, t(:'.status')
  = form.select(:status, Page::STATUSES.collect{|s| [t(:"#{current_model_name.downcase}.statuses.#{s}"), s]})
%p
  = form.label :permalink, t(:'.permalink')
  = form.text_field :permalink
%p
  = form.label :parent_id, t(:'.parent')
  = form.select :parent_id, parent_object.pages.collect{|p|[p.title, p.id]}, :include_blank => true