%div[page]
  %p.body
    %strong Body
    = h page.body
  %p.title
    %strong Title
    = h page.title
  %p.tags
    %strong Tags
    = h page.tags.join(', ')
  %p.state
    %strong State
    = h page.state
  %p.permalink
    %strong Permalink
    = h page.permalink
  %p.body_html
    %strong Body html
    = h page.body_html
  %p.position
    %strong Postition
    = h page.position
  %p.parent
    %strong Parent
    = h page.parent
  %p.website
    %strong Website
    = h page.website.title
