- title(resource.title)

- content_for :subnavigation do
  %li= link_to t(:'.edit'), edit_resource_path
  %li= link_to t(:'.website'), admin_website_path(resource.website.id)
  - if resource.published?
    %li= link_to t(:'.see_online'), page_path(resource.permalink, :host => resource.website.domains.first)

- unless resource.published?
  .notice= t(:'.not_published', :edit_link => link_to(t(:'.edit'), edit_admin_website_page_path(resource.website.id, resource.id)))


%div[resource]
  %p.body
    = resource.body_html

  %p#tags
    %strong Tags
    = h resource.tags.join(', ')
