
- unless resource.published?
  .notice= raw t(:'.not_published', :edit_link => link_to(t(:'.edit'), edit_resource_path))

= link_to t(:'.delete'), resource_path, :method => :delete, :confirm => t(:'.confirm_deletion')

%div[resource]
  %p.body
    = raw resource.body_html

  %h3= t(:'.tags')
  %p.tags
    - if resource.tags.empty?
      = t(:'.no_tags')
    - else
      = h resource.tags.join(', ')
