%h2= link_to t(:'.sources'), sources_url
- if @user.sources.empty?
  %p.notice=  t(:'.no_sources') 
  = t(:'.add_new_source', :link => link_to(t(:'.new_source'), new_source_url))
- else

  %dl#sources
    - @user.sources.active.recent(:limit => 5).each do |source|
      %dt[source]{:class => source.active? ? 'active' : 'inactive'}
        = link_to source.title, source_url(source)
        = source.source_title
      %dd
        = link_to t(:'.flickr.photostream'), source.photostream_url
        = link_to t(:'.flickr.profile'), source.profile_url

  %h2= link_to t(:'.photos'), photos_url
  - if @user.photos.count > 0
    #photos
    - @photos.each do |photo|
      = link_to image_tag(photo.icon_url), photo_url(photo)

<% end %>