- title(current_object.title)
- content_for :subnavigation do
  %li= link_to t(:'.edit'), edit_object_path
  %li
    back to
    = link_to current_object.website.site_title, admin_website_path(current_object.website_id)
  
%div[current_object]
  - if ! current_object.published?
    %p.notice= t(:'.unpublished', :editlink => link_to(t(:'.edit'), edit_object_path))
  %h2= h current_object.title
  %p.body
    = current_object.body_html

  %h3= t(:'.photos')
  = render :partial => 'photo', :collection => @photos