%div[resource]
  - if ! resource.published?
    %p.notice= t(:'.unpublished', :editlink => link_to(t(:'.edit'), edit_resource_path))
  .description= raw resource.description_html
  = link_to t(:'.delete'), resource_path, :method => :delete, :confirm => t(:'.confirm_deletion')
  %h3= t(:'.photos')
  - if resource.photos.empty?
    = raw t(:'.no_photos_yet', :photo_manger_link => link_to(t(:'.photo_manager'), admin_photos_path))
  - else
    #key_photo
      - if resource.key_photo
        = image_tag(resource.key_photo.photo_url(:medium))
    #photos
      = render :partial => 'photo', :collection => @photos


- content_for :head do
  = javascript_include_tag 'admin/photo_manager'
- content_for :javascript do
  :plain
    $(document).ready(function(){
      var photo_manager = PhotoManager.init({draggables:'#photos .photo', droppables:'#keyphoto', photos: '#photos .photo'});
    });
  