- content_for :subnavigation do
  %li= link_to t(:'.edit'), edit_resource_path
  %li
    = link_to t(:'.website'), admin_website_path(resource.website)
  
%div[resource]
  - if ! resource.published?
    %p.notice= t(:'.unpublished', :editlink => link_to(t(:'.edit'), edit_resource_path))
  .body= raw resource.body_html

  %h3= t(:'.photos')
  #key_photo
    - if resource.key_photo
      = image_tag(resource.key_photo.photo_url(:medium))
    - else
      = t(:'.no_keyphoto')
    = t(:'.key_photo')
  #photos
    = render :partial => 'photo', :collection => @photos


- content_for :head do
  = javascript_include_tag 'admin/photo_manager'
- content_for :javascript do
  :plain
    $(document).ready(function(){
      var photo_manager = PhotoManager.init({draggables:'#photos .photo', droppables:'#keyphoto', photos: '#photos .photo'});
    });
  