%p
  = form.label :title, t(:'.title')
  = form.text_field :title
%p
  = form.label :tags, t(:'.tags')
  = form.text_field :tag_list
%p
  = form.label :description, raw(t(:'.description'))
  = form.text_field :description
- if resource.new_record?
  %p
    = form.label :subdomain, t(:'.subdomain')
    = text_field_tag :subdomain, params[:subdomain], :class => 'small'
    = '.'
    = select_tag :domain, options_for_select(Website.system_domains.collect{|d|[d,d]})
- else
  %p.info= t(:'.change_domain')

- if current_user.sources.count > 0
  %h3= t(:'.synchronize')
  .info= t(:'.synchronize_info')
  %p
    - current_user.sources.each do |source|
      %label
        = form.check_box 'source_ids[%s]' % source.id, :checked => form.object.source_ids && resource.source_ids.include?(source.id)
        = source.title
      %h3= t(:'.synchronize_albums')
      .remote_albums
        - source.albums.each do |remote_album|
          %p
            - if ! resource.albums.where(:remote_id => remote_album.id).first
              = check_box_tag 'remote_albums[%s][%s]' % [source.id, remote_album.id]
              = remote_album.title

%h3= t(:'.root_path')
%p
  %label
    = form.select(:root_path,
      [[t(:'.albums'), albums_path], [t(:'.pages'), pages_path],
      [t(:'.photos'), photos_path]] + resource.albums.collect{|a| [a.title, album_path(a)]})


%h3= t(:'.theme')
%p#themes
  - [current_user.themes, Theme.public].flatten.each do |theme|
    %label.theme
      = form.radio_button :theme_id, theme.id
      = theme.name
      %br
      = image_tag '/themes/%s.png' % theme.directory, :title => theme.description
.clear
%p
  = form.label :tracking_code, t(:'.tracking_code')
  = form.text_area :tracking_code
