%p
  = form.label :site_title, t(:'.site_title')
  = form.text_field :site_title
%p
  = form.label :domain, t(:'.domain', :domain => current_object.domain)
  = form.text_field :domain
%p
  = form.label :meta_keywords, t(:'.meta_keywords')
  = form.text_field :meta_keywords
%p
  = form.label :description, t(:'.description')
  = form.text_field :description
%p
  = form.label :state, t(:'.state')
  = form.select :state, current_model.aasm_states.collect{|s| [t(:"#{current_model_name.downcase}.state.#{s.name}"), s.name.to_s]}
