%h2
  = link_to website.title, resource_path(website), :title => t(:'.show_website_details')
  %small= link_to website.domains.join(', '), website.url, :title => t(:'.goto_domain')
%ul
  %li= link_to t(:'.edit'), edit_resource_path(website)
  %li= website.active? ? t(:'.active') : t(:'.inactive')
  %li= link_to pluralize(website.pages.published.count, t(:'.pages')), admin_website_pages_path(website)
  %li
    = raw t(:'.photos_in_albums', |
      :photos => link_to(pluralize(website.related_photos.count, t(:'.photo')), admin_photos_path(:website_id => website.id)), |
      :albums => link_to(pluralize(website.albums.published.count, t(:'.album')), admin_website_albums_path(:website_id => website.id))) |
  %li
    = website.theme.name || t(:'.default_theme')
