- content_for :info do
  = raw textilize(t(:'.info', :domain_faq_link => faq_url(:action => 'domains')))
- content_for :subnavigation do
  %li= link_to t(:'.new'), new_resource_path

- if collection.empty?
  %p.error= t(:'.no_websites')
  = raw t(:'.add_new_website', :link => link_to(t(:'.new_website'), new_admin_website_url))
- else
  = render :partial => 'website', :collection => collection

