- content_for :subnavigation do
  %li= link_to t(:'.edit'), edit_resource_path
  %li= link_to t(:'.online'), resource.url

%div[resource]
  = link_to t(:'.delete'), resource_path, :method => :delete, :confirm => t(:'.confirm_deletion')

  %dl
    %dt= t(:'.root_path')
    %dd= resource.root_path

  %h3
    = link_to t(:'.albums'), admin_website_albums_path(resource)
    %span= link_to t(:'.add_album'), new_admin_website_album_path(resource)
  #albums
    = render :partial => 'album', :collection => resource.albums.published

  %h3
    = link_to t(:'.pages'), admin_website_pages_path(resource)
    %span= link_to t(:'.add_page'), new_admin_website_page_path(resource)
  #pages
    = render :partial => 'page', :collection => resource.pages.roots