- title(current_object.domain)

%div[current_object]
  %dl
    %dd= t(:'.domain')
    %dt.url= current_object.domain

    %dd= t(:'.root_path')
    %dt.root_path= current_object.root_path

-content_for :subnavigation do
  %ul.actions
    %li= link_to t(:'.edit_pages'), admin_website_pages_path(current_object)