- title(current_object.domain)
- content_for :subnavigation do
  %li= link_to t(:'.edit'), edit_object_path

%div[current_object]
  %h2.title= current_object.site_title
  
  %p.root_path
    = current_object.root_path
    %span.info= t(:'.root_path')

  %h3= link_to t(:'.albums'), admin_website_albums_path(current_object)
  %ul.albums
    = render :partial => 'album', :collection => current_object.albums

  %h3= link_to t(:'.pages'), admin_website_pages_path(current_object)
  %ul.pages
    = render :partial => 'page', :collection => current_object.pages.roots