- title('Dashboard')
- content_for :info do
  = render :partial => 'info'

#websites
  - if @websites.empty?
    You haven't created a website yet.
  - else
    You currently have 
    = pluralize(@websites.count, 'website')
    - if @websites.count != @websites.select{|w|w.active?}.size
      of which
      = pluralize(@websites.select{|w|w.active?}.size, 'is', 'are')
      active.
    - else
      and 
      = @websites.count == 1 ? 'it is' : 'all are'
      online.

#photos
  You have
  = pluralize(current_user.photos.count, 'photo')
  that came from your sources.
  
  - unless @photos.empty?
    %h2 Latest photos imported
    - @photos.each do |photo|
      .photo= link_to image_tag(photo.icon_url), admin_photo_path(photo)
