%span.box
  = link_to('<<', '#', :class => 'photos_left')
  = link_to('>>', '#', :class => 'photos_right')

%span.box= link_to_function t(:'.select_all'), "$('.selectable').addClass('selected')"
%span.box= link_to_function t(:'.select_none'), "$('.selectable').removeClass('selected')"

= form_tag(admin_photos_path, {:method => :get, :id => 'photos_form', :remote => true}) do
  = hidden_field_tag :per_page, collection.per_page
  %p
    = label_tag :search, t(:'.search')
    = text_field_tag :search, params[:search]
  %p
    = label_tag :tags, t(:'.tags')
    = text_field_tag :tags, params[:tags]
  %p{:title => t(:'.source_album_title')}
    = label_tag :source_album_id, t(:'.source_album')
    = select_tag :source_album_id, options_for_select([[]] + current_user.sources.collect(&:albums).flatten.collect{|a| [a.title, a.id]})
  %p.submit
    = submit_tag t(:'.submit'), :name => nil
    %span.box= link_to t(:'.reset'), admin_photos_path
