%p
  = form.label :title, t(:'.title')
  = form.text_field :title, :class => 'title'
%p
  = form.label :description, t(:'.description')
  = form.text_area :description, :class => 'description'
%p
  = form.label :tags, t(:'.tags')
  = form.text_field :tags, :class => 'tags'
%fieldset
  %legend= t(:'.websites')
  - form.fields_for :websites do |form_w|
    - current_user.websites.each do |website|
      %p.checkbox
        = form_w.check_box website.id, {:checked => current_object.website_ids.include?(website.id) ? 'checked' : '' }
        = form_w.label website.id, website.domain
        - website.albums.each do |album|
          = form_w.check_box album.id, {:checked => current_object.album_ids.include?(album.id) ? 'checked' : '' }
          = form_w.label album.id, album.title
          
%p.checkbox
  = form.check_box :public
  = form.label :public, t(:'.public')
