%p
  = form.label :title, t(:'.title')
  = form.text_field :title, :class => 'title'
%p
  = form.label :description, t(:'.description')
  = form.text_area :description, :class => 'description'
%p
  = form.label :tags, t(:'.tags')
  = form.text_field :tag_list, :class => 'tags'
          
%p.checkbox
  = form.check_box :public
  = form.label :public, t(:'.public')
