%div.selectable.draggable[photo]
  / # TODO selector to assign several images to a website or album
  .icon= link_to_function image_tag(photo.icon_url), 'PhotoManager.loadInfo(this)'
  .info
    - if !@current_objects # only display if we're not on the index
      .websites
        = t(:'.unassigned') if photo.websites.empty?
        - photo.websites.each do |website|
          .website= link_to website.domain, admin_website_path(website)
        = link_to t(:'.edit'), edit_admin_photo_path(photo)
      .websites
        = t(:'.unassigned') if photo.websites.empty?
        - photo.websites.each do |website|
          .website= link_to website.domain, admin_website_path(website)
        = link_to t(:'.edit'), edit_admin_photo_path(photo)
    