%div
  .droppable.title[website]
    = link_to website.title, admin_related_photos_path({:website_id => website.id}), :remote => true
    %small.count= t(:'admin.photos.index.items', :count => website.related_photos.count)
  %ul.info.albums
    = render :partial => 'album', :collection => website.albums
    /= link_to t(:'.create_album'), new_admin_website_album_path
  %ul.actions
    .handler= link_to image_tag('menu_closed.png')
    %li= link_to t(:'.create_album'), new_admin_website_album_path(website)