%h1 Editing photos

= error_messages_for :photos

- form_for(:photos, :url => object_url, :html => { :method => :put }) do |form|
  = render :partial => "form", :object => form
  %p= submit_tag "Update"

= link_to 'Show', object_path
|
= link_to 'Back', objects_path
