
#photos
  #filter
    = raw next_previous_links(collection)
    = link_to_function t(:'.select_all'), "$('.selectable').addClass('selected')"
    = link_to_function t(:'.select_none'), "$('.selectable').removeClass('selected')"
    = render :partial => 'filter'
    = raw next_previous_links(collection)

  - if collection.empty?
    = t(:'.no_photos')
    - if @website || @album
      = raw t(:'.maybe_reset', :link => link_to(t(:'.reset'), admin_photos_path))
  - else
    = render :partial => 'photo', :collection => collection
