- title t(:".page_title")
- content_for :info do
  = t(:'.info')
- content_for :javascript do
  :plain
    var photo_manager;
    $(document).ready(function(){
      PhotoManager.init();
    });
- content_for :head do
  = javascript_include_tag 'admin/photo_manager'
- content_for :info do
  / # TODO link to 'select all'
  = render :partial => 'filter'
#select-result

- content_for :subnavigation do
  - if @website
    %li= link_to t(:'.new_album'), new_admin_website_album_path(@website)

- unless @websites.nil? or @websites.empty?
  %h2= t(:'.websites')
  #websites
    = render :partial => 'website', :collection => @websites
- unless @albums.nil? or @albums.empty?
  %h2= t(:'.albums')
  #albums
    = render :partial => 'album', :collection => @albums

%h2
  = t(:'.photos')
  = t(:".filtered_by_#{params[:filter]}") if params[:filter]
#photos
  = render :partial => 'photo', :collection => current_objects
= will_paginate current_objects
