- content_for :info do
  = t(:'.info')
- content_for :javascript do
  :plain
    var photo_manager;
    $(document).ready(function(){
      PhotoManager.init();
    });
- content_for :head do
  = javascript_include_tag 'admin/photo_manager'
- content_for :info do
  / # TODO link to 'select all'
  = render :partial => 'filter'

- content_for :subnavigation do
  - if @website
    %li= link_to t(:'.new_album'), new_admin_website_album_path(@website)

.columns
  .column_1_2
    - if !@websites or @websites.empty?
      = link_to t(:'.create_website'), new_admin_website_path
    - else
      %h2= t(:'.websites')
      #websites
        = render :partial => 'website', :collection => @websites
    - if @albums and ! @albums.empty?
      %h2= t(:'.albums')
      #albums
        = render :partial => 'album', :collection => @albums

  .column_2_2
    #info_draggable= render :partial => 'info_draggable'
    #info_remove= render :partial => 'info_remove'
    /#info.delete= render :partial => 'info_delete'

%h2
  = t(:'.photos')
  = t(:'.for_website', :website => @website.title) if @website
  = t(:'.for_album', :album => @album.title) if @album
  = t(:".filtered_by_#{params[:filter]}") if params[:filter]
  %span.small
    = link_to_function t(:'.select_all'), "$('.selectable').addClass('selected')"
    = link_to_function t(:'.select_none'), "$('.selectable').removeClass('selected')"

- unless collection.empty?
  #drag_arrow
    .drop drop
    = image_tag 'drag_arrow.png'
    .drag drag

#photos
  - if collection.empty?
    = t(:'.no_photos')
    - if @website || @album
      = t(:'.maybe_reset', :link => link_to(t(:'.reset'), admin_photos_path))
  - else
    = render :partial => 'photo', :collection => collection
    = will_paginate collection
