!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}
  %head
    = render :partial => "shared/meta_head"
    = render :partial => "shared/head"
    = javascript_include_tag %w(jquery jrails jquery-ui rails admin)
    = stylesheet_link_tag %w(admin/admin admin/forms admin/websites admin/albums), :cache => 'cache/admin'
  %body{:class => 'c-%s a-%s' % [controller_name, action_name]}
    #container
      #header
        #title
          = link_to h(current_website.title), dashboard_path, :title => t(:'layout.links.back_to_homepage')
      - if current_user.email.blank?
        .right= raw t(:'.email_missing', :link => link_to(t(:'.edit_user'), edit_admin_user_path(current_user)))
      %ul#section_navigation
        %li= link_to t(:'.photo_manager'), admin_photos_path
        %li= link_to t(:'.website_manager'), admin_websites_path
      = render :partial => 'shared/navigation'
      - if ! yield(:subnavigation).blank?
        %ul#subnavigation
          = yield :subnavigation
      - else
        - begin
          %ul#subnavigation= render :partial => 'subnavigation'
        - rescue ActionView::MissingTemplate => ex;

    

      #content
        %h1= @title
    
        - flash.each do |flash_type, message|
          %p{:class => 'flash ' + flash_type.to_s}= h(message)


        = yield :layout

      - if yield :info
        #sidebar
          #info= yield :info


      = render :partial => 'shared/footer'
    - if yield :javascript
      = javascript_tag(yield(:javascript))
    = raw current_website.tracking_code