!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}
%head
  = render :partial => "shared/head"
  = javascript_include_tag(:defaults, %w(admin))
  = stylesheet_link_tag %w(admin/forms admin/photos), :cache => 'cache/admin.js'
%body
  #container
    #header
      = link_to h(current_website.site_title), '/', :title => t(:'layout.links.back_to_homepage')
    = render :partial => 'shared/navigation'

    #content{:class => params[:controller]}
      %h1= @title
    
      - flash.each do |flash_type, message|
        %p{:class => 'flash ' + flash_type.to_s}= h(message)

      - if yield :info
        #sidebar
          #info= yield :info

      = yield :layout

    #footer
      (C)
      = link_to h(current_website.site_title), root_path
      a product by <a href="http://www.ananasblau.com">ananasblau</a>.
      = link_to 'about', static_path('about')
      &
      = link_to 'contact', static_path('contact')

  - if yield :javascript
    = javascript_tag(yield(:javascript))