!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}
  %head
    = render :partial => "shared/meta_head"
    = render :partial => "shared/head"
    = javascript_include_tag %w(jquery jquery-ui rails admin admin/photo_manager)
    = stylesheet_link_tag %w(admin/admin admin/forms admin/websites admin/albums), :cache => 'cache/admin'
    = stylesheet_link_tag "admin/photos"
  %body{:class => 'c-%s a-%s' % [controller_name, action_name]}
    #container
      #header.small
        #title
          = link_to h(current_website.title), dashboard_path, :title => t(:'layout.links.back_to_homepage')
      %ul#navigation
        %li= link_to t(:'shared.navigation.dashboard'), dashboard_path

      #content
    
        - flash.each do |flash_type, message|
          %p{:class => 'flash ' + flash_type.to_s}= h(message)

        .columns#photo_manager
          .column_1_3
            #websites=render 'admin/photos/websites'
          .column_2_3
            #related_photos
              .getting_started= render 'admin/related_photos/get_started'
          .column_3_3
            #related_photo
        .clear
        #filter= render 'admin/photos/filter'
        #photos_container
          #photos= yield :layout

    = raw current_website.tracking_code
    - javascript_dom_ready('PhotoManager.init();').inspect
    - if yield :javascript
      = javascript_tag(yield(:javascript))
    