
<p>
  <%= form.label :login, 'nick name (required)' %><br />
  <%= form.text_field :login %>
</p>
<p>
  <%= form.label :name, 'display name' %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :email, 'email (required)' %><br />
  <%= form.text_field :email %>
</p>