!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}
  %head
    = render :partial => "shared/meta_head"
    = render :partial => "shared/head"
    - if current_website.photos.first
      %style{:type=>'txt/css', :rel=>'stylesheet'}
        = "body { background-image: url(%s); }" % current_website.photos.first.photo_url(:big)
  %body{:class => 'c-%s a-%s' % [controller_name, action_name], :style=> 'background-image: url(http://farm5.static.flickr.com/4009/4545840261_fd5a66c73f_b.jpg)'}
    #container
      #header
        #title
          = link_to h(current_website.title), root_url(:host => current_website.domains.first), :title => t(:'layout.back_to_homepage')
          - unless current_website.description.blank?
            .subtitle= current_website.description
      #sidebar
        #navigation
          = render :partial => 'shared/navigation'
        %ul#navigation_albums
          - current_website.albums.each do |website|
            %li= link_to website.title, album_path(website.permalink)
      #content
        - if @title_in_content
          %h1= @title 

        - flash.each do |flash_type, message|
          %p{:class => 'flash ' + flash_type.to_s}= h(message)

        = yield

      = render :partial => 'shared/footer'
      .clear
    - if yield :javascript
      = javascript_tag(yield(:javascript))
    = raw current_website.tracking_code