%p{:style => 'font-size: 200%;'}
  In your
  %span.flickr flickr account
  are thousands of photos?
  %br/
  But updating your
  %span.portfolio portfolio website
  is painful?
  %br/
  And that's why you've started a
  %span.photoblog photoblog?
%p
  Publishing photos on the internet is easy,
  but presenting them is not.
  %br/
  %span.flickr= current_website.title
  will help you save time and money.
%p{:style => 'font-size: 200%; margin-bottom: 0.3em'}
  Show off with your flickr photostream.
%ul
  %li Publish your flickr photostream on a custom designed website.
  %li No software installation necessary.
  %li No duplicate uploads to your websites and photoblog
  %li And you're still part of the flickr community.

- content_for :info do
  - if logged_in?
    %p
      Welcome back, go straight to your
      = link_to t(:'shared.navigation.dashboard').downcase, dashboard_path
      to manage your websites.
  - else
    - form_tag sessions_path do
      = hidden_field_tag :flickr, true
      %p.submit
        = submit_tag 'Signup for free', :name => nil, :class => 'flickr'
      %p.small
        This signup will take you to flickr so you can allow
        photostre.am to read your photos from flickr.

.column_1_3
  %h3 Newest websites
  = render :partial => 'websites', :object => @websites

.column_2_3
  %h3 Newest albums
  = render :partial => 'albums', :object => @albums