- content_for :navigation do
  %li= link_to 'Plans &amp; Prices', static_url('prices')
%p
  You have a
  %span.flickr flickr account?
  And you run a
  %span.portfolio portfolio?
  And a
  %span.photoblog photoblog?
  %br
  %strong= current_website.site_title
  will help you save time and money and combine all those. And you can keep using flickr.

- content_for :info do
  - if logged_in?
    %p
      Welcome back, go straight to your
      = link_to t(:'shared.navigation.dashboard').downcase, dashboard_path
      to manage your websites.
  - else
    - form_tag sessions_path do |form|
      = hidden_field_tag :flickr, true
      %p.submit
        = submit_tag 'Login via flickr', :name => nil, :class => 'flickr'

%h3 Newest websites
= render :partial => 'websites', :object => @websites

%h3 Newest albums
= render :partial => 'albums', :object => @albums