- if logged_in? and current_user.login == 'TomK32'
  = User.count
  user with
  = Source.count
  sources have imported
  = Photo.count
  photos and created
  = Website.count
  websites.
  %h2 Latest sources
  %ul
  - Source.find(:all, :limit => 10, :order => 'id DESC').each do |source|
    %li= link_to source.username, photostream_url