- content_for :head do
  = javascript_include_tag %w(raphael/raphael-min.js raphael/g.raphael-min.js raphael/g.pie-min.js raphael/g.line-min.js)

= User.count
users have imported
= Photo.count
photos and created
= Website.count
websites.
%h2 Newest users
%ul
- User.limit(10).order_by(['created_at', :desc]).each do |user|
  %li
    = "%s (%s, %s photos): " % [user.login, user.created_at.to_s(:short), user.photos.count]
    - user.sources.each do |source|
      = link_to source.username, source.photostream_url

- user_photos_counter = {}
- User.only(:id).each do |user|
  - k = 2 ** (user.photos.count.to_s(2).length - 1)
  - user_photos_counter[k] ||= 0
  - user_photos_counter[k] += 1
- user_photos_counter = user_photos_counter.sort{|a,b| a[0].to_i<=>b[0].to_i}
#user_photos
:javascript
  var r;
  window.onload = function () {
    r = Raphael("user_photos");

    r.g.piechart(300, 120, 100, [#{user_photos_counter.collect{|c|c[1]}.join(',')}], {stroke: 'black',
        legend: ['%% less than #{user_photos_counter.collect{|c|c[0]}.join(" photos' , '%% less than ")} photos'], legendpos: 'east', legendcolor: 'white', type: 'round'});
  };
