%p
  = form.label :name, t(:'.name')
  = form.text_field :name
%p
  = form.label :directory, t(:'.directory')
  = form.text_field :directory
%p
  = form.label :description, t(:'.description')
  = form.text_field :description
%p
  = form.label :license, t(:'.license')
  = form.text_field :license
%p
  = form.label :state, t(:'.state')
  = form.text_field :state
