%p
  %label{:for => "theme_name"} Name:
  = form.text_field :name
%p
  %label{:for => "theme_version"} Version:
  = form.text_field :version
%p
  %label{:for => "theme_author_id"} Author:
  = form.text_field :author_id
%p
  %label{:for => "theme_user_id"} User:
  = form.text_field :user_id
%p
  %label{:for => "theme_license"} License:
  = form.text_field :license
%p
  %label{:for => "theme_state"} State:
  = form.text_field :state
