- content_for :head do
  = stylesheet_link_tag 'admin/themes'

#themes
  - collection.each do |theme|
    .theme
      %h3
        = theme.name
        %small= t(:'.author', :author => theme.author.name)
      = image_tag '/themes/%s.png' % theme.directory, :title => theme.description
      
= will_paginate(collection)