- content_for :subnavigation do
  %li= link_to t(:'.edit'), edit_resource_path(resource)
#source[resource]
  - if resource.authenticated?
    %p=t(:'.activated', :username => resource.username, :title => resource.source_title) if resource.status != 'deleted'
  - else
    %p= link_to t(:'.reauthenticate'), reauthenticate_admin_source_path(resource)

  - unless @photos.empty?
    #photos
      %h2= t(:'.latest_photos')
      %p= t(:'.last_updated', :time => resource.updated_at)
      %p= t(:'.last_photo', :time => @photos.first.created_at)

      = render :partial => 'admin/photos/photo', :collection => @photos