%div.album
  %h1= @album.title
  .description= raw @album.description_html
  .large
    = render 'photo', :photo => @album.key_photo if @album.key_photo
  #photos
    .clear
    - @photos.each do |photo|
      .photo= link_to image_tag(photo.photo_url(:square)), album_photo_path(@album.permalink, photo.permalink)
    = will_paginate(@photos)
= javascript_dom_ready("$.remoteGallery('.large', '#photos .photo a', function(){ fitContentSize('.large') })")