<p>
  <%= form.label :title, t(:'photos.form.labels.title', :default => 'Title') %>
  <%= form.text_field :title, :class => 'title' %>
</p>

<p>
  <%= form.label :description, t(:'photos.form.labels.description', :default => 'Description') %>
  <%= form.text_area :description, :class => 'description' %>
</p>

<p>
  <%= form.label :tag_list, t(:'photos.form.labels.tags', :default => 'tags (flower,cat,blue)') %>
  <%= form.text_field :tag_list, :class => 'tags' %>
</p>

<p>
  <%= form.check_box :public %>
  <%= form.label :public, t(:'photos.form.labels.public', :default => 'everyone can see') %>
</p>

