- content_for :head do
  = stylesheet_link_tag 'admin/forms'

= form_for :user, @user||User.new, :url => collection_path do |form|
  = form.error_messages

  = render 'form', :form => form
  %p
    = submit_tag t(:'.submit'), :name => nil
