#footer
  %p
    Copyright (C) 2009 - 2010
    = link_to(h(current_website.title), root_url(:host => current_website.domains.first)) << '.'
    All photos displayed are copyrighted by their respective owners.
    A tasty product of <a href="http://www.ananasblau.com">ananasblau</a>.
  %p#help_navigation
    = link_to 'support', 'http://www.flickr.com/groups/photostre_am/'
    |
    = link_to 'blog', 'http://blog.photostre.am'
    |
    = link_to 'twitter', 'http://twitter.com/photostre_am'
    |
    = link_to 'about', static_path('about')
    |
    = link_to 'contact', static_path('contact')
  %p#languages
    = link_to_unless current_language == :sv, 'Svenska', :language => :sv
    |
    = link_to_unless current_language == :en, 'English', :language => :en
= current_website.tracking_code