!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}
%head
  = render :partial => "shared/meta_head"
  = render :partial => "shared/head"
%body
  #container
    #header
      #title
        = link_to h(current_website.site_title), '/', :title => t(:'layout.links.back_to_homepage')
        .subtitle= current_website.description
      #navigation
        = render :partial => 'shared/navigation' if %w(static dashboard sessions websites).include?(controller_name)

        - if current_website.pages.published.roots
          #navigation_pages
            = render :partial => 'pages/pages', :object => current_website.pages.published.roots
    #content{:class => params[:controller]}
      - if @title_in_content
        %h1= @title 

      - flash.each do |flash_type, message|
        %p{:class => 'flash ' + flash_type.to_s}= h(message)

      = yield :layout
    - if yield :info
      #sidebar
        #info= yield :info

    = render :partial => 'shared/footer'
