!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}
%head
  = render :partial => "shared/head"
%body
  #container
    #header
      = link_to h(current_website.site_title), '/', :title => t(:'layout.links.back_to_homepage')
    = render :partial => 'shared/navigation' if %w(static dashboard sessions websites).include?(controller_name)

    - if current_website.pages.published.roots
      #navigation.pages
        = render :partial => 'pages/pages', :object => current_website.pages.published.roots

    #content{:class => params[:controller]}
      - if @title_in_content
        %h1= @title 

      - flash.each do |flash_type, message|
        %p{:class => 'flash ' + flash_type.to_s}= h(message)

      = yield :layout
    - if yield :info
      #sidebar
        #info= yield :info

    #footer
      (C)
      = link_to h(current_website.site_title), root_path
      a product by <a href="http://www.ananasblau.com">ananasblau</a>.
      = link_to 'blog', 'http://blog.photostre.am'
      = link_to 'about', static_path('about')
      &
      = link_to 'contact', static_path('contact')
  = current_website.tracking_code
